<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <div class="container">

      <div class="container-fluid sticky-top">
        <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
      </div>

      <br><h3>FAQs for IPL - Maidanam</h3><br>
        <h5>1.How to create a new group?</h5>
        <p>Under manage groups there is an option to create a new group. You can create more than one group</p>

        <h5>2.Are groups private?</h5>
        <p>Yes, each group is private and details of players are only visible to people who belong to that group. If you are part of 2 groups, you can see details of both groups but people across groups won&rsquo;t be aware of each other unless they are part of both groups.</p>

        <h5>3.Do I need to predict separately for each group?</h5>
        <p>Yes, you have to predict independently in each group. Your predictions can be same or different. There is a dropdown available on every screen which can be used to navigate across groups.</p>

        <h5>4.Can I join multiple groups?</h5>
        <p>Yes, a person is allowed to join more than 1 group.</p>

        <h5>5.How to ask a new user to join a group?</h5>
        <p>Under manage groups, you can find the referral code for each group. Share the referral code of the group to which you want to add the new user. New user can use that code and complete registration</p>

        <h5>6.Can I delete a group?</h5>
        <p>Please follow up with admins and they will be able to help you.</p>

        <h5>7.How to remove a person from my group?</h5>
        <p>Please follow up with admins and they will be able to help you.</p>

        <h5>8.What should I predict for each match?</h5>
        <p>You need to predict the winner of the match, margin of the win and identify a &ldquo;fasak&rdquo;. You need to also chose the coins you want to play in that match. Once the match begins, predictions for that match will freeze.</p>

        <div id="margin">
        <h5>9.What is win margin of a match?</h5>
        <p>There are three options for margin (Easy, Medium and Hard). They are defined as follows</p>
        <h6>&nbsp;&nbsp;Batting 1<sup>st</sup>: If a team batting first wins</h6>
        <b>&nbsp;&nbsp;&nbsp;&nbsp;Easy:</b> If they win by >=27 runs<br>
        <b>&nbsp;&nbsp;&nbsp;&nbsp;Medium:</b> If they win by a margin of 13-26 runs<br>
        <b>&nbsp;&nbsp;&nbsp;&nbsp;Hard:</b> If they win by a margin <=12 runs<br>
        <p></p>
        <h6>&nbsp;&nbsp;Batting 2nd: If a team batting second wins</h6>
        <b>&nbsp;&nbsp;&nbsp;&nbsp; Easy:</b> If they win by 8 to 10 wickets in hand<br>
        <b>&nbsp;&nbsp;&nbsp;&nbsp; Medium:</b> If they win by 6 or 7 wickets in hand<br>
        <b>&nbsp;&nbsp;&nbsp;&nbsp; Hard:</b> If they win by 5 or less wickets in hand
        <p></p>
        </div>
        <h5>10.What are coins?</h5>
        <p>You will need coins to predict for each match. Everybody gets same coins when they register. Whoever has more coins at the end of the tournament is declared winner</p>

        <h5>11. How to earn coins?</h5>
        <p>For each match you invest on a winner, chose a win margin and call <b>"Fasak"</b> on one of your group members.</p>
        &nbsp;&nbsp;&nbsp;&nbsp; Example: CHENNAI vs DELHI Match
        <p style="font-size: 0.8em;"><i>&nbsp;&nbsp;&nbsp;&nbsp; If you chose CHENNAI to win the match. Extra coins which you will get for right prediction are displayed next to it. If you play with 100 coins,
          it might show 150 which means, if CHENNAI wins, you will end up with additional 150 coins (total 100+150) and if CHENNAI loses you will lose your 100 coins.</i></p>
        <p style="font-size: 0.8em"><i>&nbsp;&nbsp;&nbsp;&nbsp; If you chose win margin as easy, it might show 200 next to it. If CHENNAI wins easily then you will get additional 200 coins on top of the 150 coins for win.
          These are bonus. If CHENNAI does not win easily then there is no bonus. If you predicted the winner wrongly, you will not get any bonus. It does not matter what margin you chose.</i></p>
        <p style="font-size: 0.8em"><i>&nbsp;&nbsp;&nbsp;&nbsp; Your returns will change if you change the winner and margin. We suggest to play around with all options to see the returns for each match.</i></p>

        <h5>10. What is "Fasak" ?</h5>
        <p>For each match you can call <b>"Fasak"</b> on one of your group members. Your Fasak can be valid or invalid. Fasak is valid only if you and the other person predict different teams as winner.
          For valid "Fasak", coins lost from one person will get transferred to the other person.</p>
        &nbsp;&nbsp;&nbsp;&nbsp; Example: CHENNAI vs DELHI Match
        <p style="font-size: 0.8em"><i>&nbsp;&nbsp;&nbsp;&nbsp; If you chose CHENNAI to win and are playing with 100 coins and you call
          "Fasak" on another member who chose DELHI to win and is playing with 250 coins.</i></p>
        <p style="font-size: 0.8em"><i>&nbsp;&nbsp;&nbsp;&nbsp; If CHENNAI wins, you will get 250 coins from the other person.
          If DELHI wins, your 100 coins will be transferred to the other person</i></p>

        <h5>11.What happens if same person is called for "Fasak" by multiple persons?</h5>
        <p>In case of multiple persons targeting same person. Coins that are supposed to be transferred will be split equally.</p>
        &nbsp;&nbsp;&nbsp;&nbsp;Example: CHENNAI vs DELHI Match
        <p style="font-size: 0.8em"><i>&nbsp;&nbsp;&nbsp;&nbsp;If you chose CHENNAI to win and are playing with 100 coins and you call "Fasak"
          on a member who chose DELHI to win and invested 250 coins. There is another group member who called FASAK on you and he chose DELHI to win for 400coins.</i></p>
        <p style="font-size: 0.8em"><i>&nbsp;&nbsp;&nbsp;&nbsp; If CHENNAI wins, you will get (250 + 400) coins. If DELHI wins, your 100 coins will be split equally
          among the two members. Each person will get 50 coins each.</i></p>

        <h5>12. Is there a way to call "Fasak" on members who chose different teams?</h5>
        <p>Predictions of team members are not displayed till the match begins. There is no way to know who is predicting which team to win. Validity of
          "Fasak" will be known only after the match begins.</p>

        <h5>13.Is there a way to see others predictions?</h5>
        <p>There is a prediction page where predictions are displayed for current match after the match begins.
          You can see all the prediction details like winner, margin and who called "Fasak" on whom in this page.</p>

        <h5>14. Where to check the score?</h5>
        <p>There is a scoreboard page which shows overall coins for each player and coins earned for each match.</p>

        <h5>15. I have lost all my coins. Is there a way to get more coins?</h5>
        <p>Please get in touch with admins for more coins. They will be able to help you.</p>

    </div>
  </div>
</div>