<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand" style="text-transform:none">
          <div class="top-left">
            <img width="40px" src="assets/images/Logo2.png"/>
          </div>
        </a>
      </div>

      <div class="navbar-default">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/matches">Matches</a></li>
          <li routerLinkActive="active"><a routerLink="/predictions">Predictions</a></li>
          <li routerLinkActive="active"><a routerLink="/scoreboard">Scoreboard</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-brand" *ngIf=loggedIn>
            <li style="color: green">
              Welcome !! {{ loginService.getUserProfile().displayName }}
            </li>
          </ul>
          <li class="dropdown" appDropdown>
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active">
                <button class="btn white" type="button" (click)="signInWithGoogle()">
                  <a style="text-transform:none">
                    <div class="left">
                      <img width="180px" alt="Google &quot;G&quot; Logo" src="assets/images/Google1.png"/>
                    </div>
                  </a>
                </button>
              <li routerLinkActive="active"><a routerLink="/register" style="cursor: pointer;">Register</a></li>
              <li routerLinkActive="active"><a routerLink="/groups" style="cursor: pointer;">Manage Groups</a></li>
              <li *ngIf=loggedIn><a style="cursor: pointer;" (click)="signOut()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
