<!--  Header - Before Login-->

<nav class="navbar navbar-expand-lg navbar-light" style="background:darkorange;padding:0px;">
  <a class="navbar-brand" routerLink="/tournaments">
    <img src="assets/images/Sumo.jpeg" width="50" height="45">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" *ngIf=loggedIn>
    <span class="navbar-toggler-icon" *ngIf=loggedIn></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf=loggedIn>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/matches" (click)="onMenuClick()"><b>Matches</b></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/scoreboard"><b>Scoreboard</b></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/history"><b>My History</b></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/groups"><b>Manage Groups</b></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/faq"><b>FAQs</b></a>
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-light" style="background:darkorange;padding:0px;">
    <!--<a class="navbar-brand" routerLink="/">-->
      <!--<img src="assets/images/Sumo.jpeg" width="60" height="55">-->
    <!--</a>-->
    <div style="color: darkred" *ngIf="loggedIn">
      Hi !! {{ socialUser.name }}
    </div>
    <form class="form-inline">

      <button class="btn white" (click)="signInWithGoogle()" *ngIf="!loggedIn">
        <a>
          <div class="left">
            <img class="rounded" width="150px" alt="Google &quot;G&quot; Logo" src="assets/images/Google1.png"/>
          </div>
        </a>
      </button>
      <button class="btn white" (click)="signOut()" *ngIf="loggedIn">
        <img class="rounded" width="30px" src="assets/images/signout3.png"/>
      </button>
  </form>
  </nav>
</nav>