<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-xs-12">
          &nbsp;<button class="btn btn-primary" type="submit" (click)="joinGroup()">Join Group</button>&nbsp;
          &nbsp;<button class="btn btn-info" type="submit" (click)="createGroup()">Create Group</button>&nbsp;
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <form (ngSubmit)="onJoin(j)" #j="ngForm">
    <div class="row" *ngIf=joinMode>
      <div class="col-sm-7">
          <label for="groupRefCd">Enter Group Referral Code to join:</label>&nbsp;
          <input type="text" id="groupRefCd" class="form-control" name="groupRefCd" ngModel required>&nbsp;
        <div  class="alert alert-danger" *ngIf="isJoinedErr">
          Failed !
        </div>
        <div  class="alert alert-success" *ngIf="isJoined">
          Success !
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="!j.valid">Join</button>
      </div>
    </div>
  </form>

  <form (ngSubmit)="onCreate(c)" #c="ngForm">
    <div class="row" *ngIf=createMode>
      <div class="col-sm-7">
        <div class="form-group">
          <label for="groupName">Enter Group Name to create:</label>&nbsp;
          <input type="text" id="groupName" class="form-control" name="groupName" ngModel required>&nbsp;
          <div  class="alert alert-danger" *ngIf="isCreatedErr">
            Failed !
          </div>
          <div  class="alert alert-success" *ngIf="isCreated">
            Success !
          </div>
          <br>
          <button type="submit" class="btn btn-success" [disabled]="!c.valid">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>