

th.mat-header-cell {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 0.6em;
    color: white;
    background-color: grey;

}

::ng-deep .mat-sort-header-arrow {
    color: darkblue;
}