.h1 {
     color: red;
 }

.mat-slider-horizontal {
    width: 100%;
}

.open-close-list-past {
    border: 1px solid blue;
    background: grey;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #cb3d12;
}

.open-close-list-current {
    border: 1px solid blue;
    background: orange;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #e0dd12;
}

.open-close-list-future {
    border: 1px solid blue;
    background: lightgreen;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #729d39;
}


td, span {
    font-family: 'Ubuntu', sans-serif;
}

th.mat-header-cell {
    font-weight: bold;
    font-size: 1em;
    color: blue;
    background-color: lightskyblue;
    border: blue;

}

.btn-sml {
    font-size: 11px;
    border-radius: 100px;
}