.h1 {
     color: red;
 }

.mat-slider-horizontal {
    width: 100%;
}

.open-close-list-past {
    border: 1px solid blue;
    background: grey;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #cb3d12;
}

.open-close-list-current {
    border: 1px solid blue;
    background: orange;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #e0dd12;
}

.open-close-list-future {
    border: 1px solid blue;
    background: lightgreen;
    margin: 1.5em 0em;
    padding: 0px 0px 0px 0px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 2px #729d39;
}

*{
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Nova Mono', monospace;
}

td, span {
    font-family: 'Ubuntu', sans-serif;
}
