  <!-- List Match view -->

  <!-- 1st Match -->
  <div class="container-fluid">
    <div class="d-flex col-sm-8 col-md-6 col-lg-4  mx-auto open-close-list-past">
      <!--
        border-left:15px solid #cb3d12;
      -->
      <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
        15th Apr<br>20:00

      </div>
      
      <div style="width:20%;" class="d-flex justify-content-center align-items-center">
          <img class="img-fluid rounded" src="assets/images/Chennai Super Kings.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>

      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
        CSK
      </div>

      <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>

      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          SRH
      </div>
      
      <div style="width:20%;" class="d-flex justify-content-end align-items-center">
          <img class="img-fluid rounded" src="assets/images/Sunrisers Hyderabad.png" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>
    </div>
</div>

<!-- 2nd Match -->
<div class="container-fluid">
    <div class="d-flex col-sm-8 col-md-6 col-lg-4 mx-auto open-close-list-past">
      <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
        15th Apr<br>20:00

      </div>
      <div style="width:20%;" class="d-flex justify-content-center align-items-center">
          <img class="img-fluid rounded" src="assets/images/Mumbai Indians.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>
      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
        MI
      </div>
      <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>
      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          KKR
      </div>
      <div style="width:20%;" class="d-flex justify-content-end align-items-center">
          <img class="img-fluid rounded" src="assets/images/Kolkata Knight Riders.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>

    </div>

</div>

<!-- 3rd Match -->
<div class="container-fluid">
    <div class="d-flex col-sm-8 col-md-6 col-lg-4 mx-auto open-close-list-current">
      <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
        15th Apr<br>20:00

      </div>
      <div style="width:20%;" class="d-flex justify-content-center align-items-center">
          <img class="img-fluid rounded" src="assets/images/Delhi Capitals.png" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>
      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
        DC
      </div>
      <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>
      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          KXIP
        </div>
      <div style="width:20%;" class="d-flex justify-content-end align-items-center">
          <img class="img-fluid rounded" src="assets/images/Kings XI Punjab Small.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>

    </div>

</div>

<!-- 4th Match -->
<div class="container-fluid">
    <div class="d-flex col-sm-8 col-md-6 col-lg-4 mx-auto open-close-list-current">
      <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
        15th Apr<br>20:00

      </div>
      <div style="width:20%;" class="d-flex justify-content-center align-items-center">
          <img class="img-fluid rounded" src="assets/images/Rajasthan Royals.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>
      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
        RR
      </div>
      <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>
      <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          RCB
        </div>
      <div style="width:20%;" class="d-flex justify-content-end align-items-center">
          <img class="img-fluid rounded" src="assets/images/RCB Small.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
      </div>

    </div>

</div>

<!-- 5th Match -->
<div class="container-fluid">
      <div class="d-flex col-sm-8 col-md-6 col-lg-4 mx-auto open-close-list-future">
        <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
          15th Apr<br>20:00
  
        </div>
        <div style="width:20%;" class="d-flex justify-content-center align-items-center">
            <img class="img-fluid rounded" src="assets/images/Chennai Super Kings.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
        </div>
        <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          CSK
        </div>
        <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>
        <div style="width:10%;" class="d-flex justify-content-center align-items-center">
            KKR
          </div>
        <div style="width:20%;" class="d-flex justify-content-end align-items-center">
            <img class="img-fluid rounded" src="assets/images/Kolkata Knight Riders.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
        </div>
  
      </div>
</div>


<!-- 6th Match -->
<div class="container-fluid">
      <div class="d-flex col-sm-8 col-md-6 col-lg-4 mx-auto open-close-list-future">
        <div class="d-flex justify-content-center align-items-center" style="font-size: 0.8em;border-radius:0.5em 0 0 0.5em;width:30%;" >
          15th Apr<br>20:00
  
        </div>
        <div style="width:20%;" class="d-flex justify-content-center align-items-center">
            <img class="img-fluid rounded" src="assets/images/Delhi Capitals.png" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
        </div>
        <div style="width:10%;" class="d-flex justify-content-center align-items-center">
          DC
        </div>
        <div class="d-flex justify-content-center align-items-center" style="width:10%;font-size:0.8em;">vs</div>
        <div style="width:10%;" class="d-flex justify-content-center align-items-center">
            RR
          </div>
        <div style="width:20%;" class="d-flex justify-content-end align-items-center">
            <img class="img-fluid rounded" src="assets/images/Rajasthan Royals.jpg" style="max-height: 50px;border-radius:0px;box-shadow:0px 0px 5px 1px #dddddd;">
        </div>
  
      </div>
  
</div>




  