<br>
<button class="btn btn-link" (click)="goBack()">Go Back</button>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmitResult(m)" #m="ngForm">
        <br>
        <div class="form-group" *ngFor="let constituency of constituencies; let i=index">
          <table>
            <tr>
              <td>
                <input id="province" class="form-control"
                       type="text" name="province"
                       value="{{constituency}}" readonly />
              </td>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <td>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                  <label for="ycpParty{{i}}">YCP: </label>&nbsp;
                  <input id="ycpParty{{i}}" type="number" class="form-control"
                       name="{{constituency}}-YCP"  ngModel>
                </div>
              </td>
              &nbsp;&nbsp;
              <td>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                  <label for="tdpParty{{i}}">TDP: </label>&nbsp;
                  <input id="tdpParty{{i}}" type="number" class="form-control"
                       name="{{constituency}}-TDP" ngModel>
                </div>
              </td>
              &nbsp;&nbsp;
              <td>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                  <label for="othParty{{i}}">Others: </label>&nbsp;
                  <input id="othParty{{i}}" type="number" class="form-control"
                       name="{{constituency}}-OTHERS" ngModel>
                </div>
              </td>
            </tr>
          </table>

        </div>

        <div  class="alert alert-danger" *ngIf="isFailure">
          Failed !
        </div>
        <div  class="alert alert-success" *ngIf="isSuccess">
          Success !
        </div>
        <br>
        <button type="reset" class="btn btn-info" [disabled]="!m.touched">Clear</button>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!m.valid">Submit</button>
      </form>
    </div>
  </div>
</div>