<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <br>

      <iframe class="my-frame"
              src="https://www.youtube.com/embed/bH69EGY2b4Q">
      </iframe>
      <br>
      <br>
      <a role="button" style="cursor: pointer">
        <img src="assets/images/icc.jpg" style="max-height: 200px; max-width: 500px; border-radius:15px; border: solid 1px blue"
             class="d-block h-10 w-100 img-fluid" alt="...">
      </a>

      <br>
      <a role="button" (click)="onSelectIpl()" style="cursor: pointer">
        <img src="assets/images/ipl.png" style="max-height: 200px; max-width: 500px; border-radius:15px; border: solid 1px blue"
             class="d-block h-10 w-100 img-fluid" alt="...">
      </a>
<!--      <a role="button" (click)="onSelectAp()" style="cursor: pointer">-->
<!--        <img src="assets/images/ap_sm.jpg" style="max-height: 200px; max-width: 500px; border-radius:15px; border: solid 2px blue"-->
<!--             class="d-block h-10 w-100 img-fluid" alt="...">-->
<!--      <br>-->
<!--      </a>-->
<!--      <a role="button" (click)="onSelectNational()" style="cursor: pointer">-->
<!--        <img src="assets/images/national_sm.jpg" style="max-height: 200px; max-width: 500px; border-radius:15px; border: solid 2px blue"-->
<!--             class="d-block h-10 w-100 img-fluid" alt="...">-->
<!--      </a>-->
    </div>
  </div>
</div>