<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="container-fluid sticky-top" style="padding:0px;">
  <div class="d-flex justify-content-end">
    <div class="dropdown">
      <button style="font-size:0.5em;" class="btn btn-oultine-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.group.groupName}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let gp of groups">
          <a class="dropdown-item" style="font-size:0.5em;" (click)="onSelectGroup(gp.groupId)">{{gp.groupName}}</a>
        </div>
      </div>
    </div>
  </div>
  <p>{{user.totalCoins}} <img src="assets/images/coins.jpg" width="30" height="20">&nbsp;
    <a style="font-size:0.5em;" class="btn btn-outline-secondary btn-sml"
       href="mailto:maidanam.in@gmail.com?subject=Need Coins"
       target="_blank"> <b>+ Buy</b></a>
  </p>
</div>
<hr><div class="container-fluid">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search / Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%;" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
      <td mat-cell [ngStyle]="{'color':element.playerId === user.userId? 'darkorange' : ''}"
          *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Player Column -->
    <ng-container matColumnDef="player">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Player </th>
      <td mat-cell [ngStyle]="{'color':element.playerId === user.userId? 'darkorange' : ''}"
          *matCellDef="let element" style="cursor: pointer"
          (click)="onClickUser(element.playerId)"> <u>{{element.player}}</u> </td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
      <td mat-cell [ngStyle]="{'color':element.playerId === user.userId? 'darkorange' : ''}"
          *matCellDef="let element">  {{element.score}}</td>
    </ng-container>

    <!-- Coins Column -->
    <ng-container matColumnDef="coins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Coins </th>
      <td mat-cell [ngStyle]="{'color':element.playerId === user.userId? 'darkorange' : ''}"
          *matCellDef="let element">{{element.coins}} </td>
    </ng-container>

    <!-- Loan Column -->
    <ng-container matColumnDef="loan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan </th>
      <td mat-cell [ngStyle]="{'color':element.playerId === user.userId? 'darkorange' : ''}"
          *matCellDef="let element">
        <span [ngStyle]="{'color':element.loan < 0 ? 'red' : ''}">{{element.loan}} </span></td>
    </ng-container>

    <!-- Change in Coins Column -->
    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Change </th>
      <td mat-cell *matCellDef="let element">
        <span [ngStyle]="{'background':element.changeInCoins < 0 ? 'lightcoral' : 'lightgreen'}">{{element.changeInCoins}} </span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>