

th.mat-header-cell {
    font-weight: bold;
    font-size: 0.6em;
    color: white;
    background-color: grey;
}

td.mat-cell {
    font-size: 0.6em;
    white-space:nowrap;
}

.btn-sml {
    font-size: 11px;
    border-radius: 100px;
}

::ng-deep .mat-sort-header-arrow {
    color: darkblue;
}

td.mat-cell {
    border: 1px dotted lightgray;
}