
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <br>
        <h2 style="color:darkred">{{historyList[0].firstName}} {{historyList[0].lastName}}</h2>
  </div>
  <div class="container-fluid sticky-top" style="padding:0px;">
    <div class="d-flex justify-content-end">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          JNTU
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">JNTU</a>
          <a class="dropdown-item" href="#">Family</a>
          <a class="dropdown-item" href="#">Office</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="table-responsive-sm">
    <table class="table table-bordered table-warning">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team1</th>
        <th scope="col">Team2</th>
        <th scope="col">Winner</th>
        <th scope="col">Challenger</th>
        <th scope="col">Total Coins Won</th>
        <th scope="col">By Win/Margin/Challenge</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ht of historyList; let i = index">
        <td><a role="link" (click)="onMatchClick(ht.prediction.match.matchId)" style="cursor: pointer; color: blue;">{{i+1}}</a></td>
        <td>{{ht.prediction.match.team1.teamName}}</td>
        <td>{{ht.prediction.match.team2.teamName}}</td>
        <td>{{ht.prediction.match.winner.teamName}}</td>
        <td>{{ht.prediction.challengedUser.firstName}} {{ht.prediction.challengedUser.lastName}}</td>
        <td>{{ht.totalCoinsWon}}</td>
        <td>{{ht.coinsWonByWin}} / {{ht.coinsWonByMargin}} / {{ht.coinsWonByChallenge}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




