mat-toolbar {
    background-image: url("../../../assets/images/ground_bg.jpg");
    background-repeat: repeat-x;
    display:flex;
    justify-content: space-between;
    color: white;
    padding: 1px;
}

.right-nav {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
}

.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: transparent }
    100%{   color: red }
}