<mat-toolbar>
  
  <div>
      <a (click)="onClickHome()" >
          <img src="assets/images/ball_icon.jpg" width="50" height="45"  style="cursor:pointer;"> Maidanam
      </a>
  </div>
  
  <div class="right-nav">

      <div style="display:flex;align-items: center;font-size:0.6em;" *ngIf="loggedIn">
          {{ socialUser.firstName | uppercase}} {{ socialUser.lastName | uppercase}}
      </div>

      <div *ngIf=loggedIn>
        <button mat-icon-button (click)="onToggleSidenav()" style="outline:none;">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      
      <div (signOutEmit)="signOut()"></div> 

      <button class="btn" (click)="signInWithGoogle()" *ngIf="!loggedIn">
      <!--        Sign In With Google-->
              <a>
                <div class="left">
                  <img class="rounded" width="150px" alt="Google &quot;G&quot; Logo" src="assets/images/Google1_sm.jpg"/>
      <!--            <span style="color: red;"><b><u>Sign In With Google</u></b></span>-->
                </div>
              </a>
      </button>
  </div>
</mat-toolbar>

<div class="container">
    <marquee >
        <span class="blinking" style="font-family:georgia,garamond,serif;font-size:1.2em;font-style:italic">
            <b>Margin Bonus is capped to 550K for all upcoming matches</b>
        </span>
    </marquee>
</div>


