<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- This is Floating component: Group name drop down -->
<div class="container-fluid sticky-top" style="padding:0px;">
    <div class="d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.group.groupName}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div *ngFor="let gp of groups">
              <a class="dropdown-item" (click)="onSelectGroup(gp.groupId)">{{gp.groupName}}</a>
              </div>
            </div>
        </div>
    </div>
</div>
    <p>{{user.totalCoins}} <img src="assets/images/coins.jpg" width="30" height="20">&nbsp;
        <a class="btn btn-warning btn-sml" href="mailto:maidanam.in@gmail.com?subject=Need Coins" target="_blank"> <b>+ BUY MORE</b> </a>
    </p>
    <br>

<!-- This is Current/All Match view buttons -->
<div class="container-fluid">
  <div class="d-flex justify-content-center">
      <div class="btn-group  btn-group-toggle">
          <label class="btn btn-outline-info" [ngClass] = "{'active':currentView}" style="width:80px; cursor: pointer;">
            <input type="radio" name="options" id="option1" checked (click)="changeView($event)" value="current"> Current
          </label>

          <label class="btn btn-outline-info"  [ngClass] = "{'active':listView}" style="width:80px; cursor: pointer;">
            <input type="radio" name="options" id="option2" autocomplete="off" (click)="changeView($event)" value="all">All
          </label>

      </div>
    </div>
</div>


<!-- This is Current Match view-->
<div @flyInOut *ngIf="currentView">
 <app-current-view></app-current-view>
</div>

<!-- This is All Matches View *ngIf="listView"-->
<div @flyInOut *ngIf="listView">
  <app-list-view></app-list-view>  
</div>
<div>
    <span>
        <a class="btn btn-block btn-danger" routerLink="/admin"><b>Submit Match Result</b></a>
    </span>
</div>