<mat-nav-list>
  <a mat-list-item routerLink="/matches" (click)="onSidenavClose()" *ngIf="showButtons">
    <mat-icon>home</mat-icon> <span class="nav-caption">&nbsp; Matches</span>
  </a>
  <a mat-list-item routerLink="/scoreboard" (click)="onSidenavClose()" *ngIf="showButtons">
    <mat-icon>assignment</mat-icon> <span class="nav-caption">&nbsp; Scoreboard</span>
  </a>
  <a mat-list-item (click)="onClickHistory()" *ngIf="showButtons">
    <mat-icon>receipt</mat-icon> <span class="nav-caption">&nbsp; My History</span>
  </a>
  <a mat-list-item routerLink="/groups" (click)="onSidenavClose()" *ngIf="showButtons">
    <mat-icon>group</mat-icon> <span class="nav-caption">&nbsp; Groups</span>
  </a>
  <a mat-list-item routerLink="/loan" (click)="onSidenavClose()" *ngIf="showButtons">
    <mat-icon>help</mat-icon> <span class="nav-caption">&nbsp; Loans</span>
  </a>
  <a mat-list-item routerLink="/faq" (click)="onSidenavClose()" *ngIf="showButtons">
    <mat-icon>help</mat-icon> <span class="nav-caption">&nbsp; FAQ</span>
  </a>
  <a mat-list-item (click)="signout()">
    <mat-icon>exit_to_app</mat-icon> <span class="nav-caption">&nbsp; Logout</span>
  </a>
</mat-nav-list>