<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="container-fluid sticky-top" style="padding:0px;">
  <div class="d-flex justify-content-end">
    <div class="dropdown ">
      <button style="font-size:0.8em;" class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.group.groupName}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let gp of groups">
          <a class="dropdown-item" (click)="onSelectGroup(gp.groupId)">{{gp.groupName}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <span style="color: darkred; font-size: 0.6em"><i>*All numbers are in 000's</i></span>

  <!--
    <table border="1px solid;" style="font-size: 0.8em">
    <tr>
      <td>Display Name : {{spendSummary.user.displayName}}</td>
      <td>Prediction Accuracy: {{spendSummary.predAccuracy}}%</td>
    </tr>
    <tr>
      <td>Current Score : {{spendSummary.user.effectiveCoins / 1000}}</td>
      <td>Favourite: {{spendSummary.favPredPercent}}%</td>
    </tr>
    <tr>
      <td>Max Score : {{spendSummary.maxScore / 1000}}</td>
      <td>Underdog: %</td>
    </tr>
    <tr>
      <td>Max Coins in a match : {{spendSummary.maxCoins / 1000}}</td>
      <td>Max Coins per match: {{spendSummary.avgCoins / 1000}}</td>
    </tr>
  </table>
  -->
  <div class="d-flex flex-column" style="font-size:0.7em;">
    <div class="d-flex justify-content-between pb-1">
       <div>Current Score</div>
       <div>{{spendSummary.user.effectiveCoins / 1000}}</div> 
    </div>
    <div class="d-flex justify-content-between pb-1">
     <div>Max Coins in a match</div>
     <div>{{spendSummary.maxCoins / 1000}}</div>
    </div>
    <div class="d-flex justify-content-between  pb-1">
     <div>Avg Coins/match</div>
     <div>{{spendSummary.avgCoins / 1000}}</div>
    </div>
    <div class="d-flex justify-content-between  pb-1">
      <div style="width:70%;">Favourite/Underdog</div>
      <div class="progress" style="width:30%;font-size:0.7em;">
        <div class="progress-bar text-center" [style.width.%]="spendSummary.favPredPercent">{{spendSummary.favPredPercent}}%</div>
        <div class="progress-bar bg-success text-center" [style.width.%]="100-spendSummary.favPredPercent">{{100-spendSummary.favPredPercent}}%</div>

        <!--
        <div class="text-center rounded-left" [style.width.%]="spendSummary.favPredPercent" style="background:green;">{{spendSummary.favPredPercent}}%</div>
        <div class="text-center rounded-right" [style.width.%]="100-spendSummary.favPredPercent" style="background:yellow;">{{spendSummary.favPredPercent}}%</div>
        -->
      </div> 
    </div>
  </div>

<!--  <mat-form-field>-->
<!--    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search / Filter">-->
<!--  </mat-form-field>-->
  <br>
  <span style="background: lightcoral" *ngIf="headerName != null"><i>{{headerName}}'s Profile</i></span>
  (<a style="font-size:0.8em;" class="btn btn-link" (click)="onClickHistory()"> Click Here for Detailed History</a>)
  <br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         matSort matSortActive="team" matSortDirection="desc">

    <ng-container matColumnDef="team" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
      <td align="center" mat-cell *matCellDef="let element"> {{element.teamName}} </td>
    </ng-container>

    <ng-container matColumnDef="pick" >
      <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Pick </th>
      <td  align="center" mat-cell *matCellDef="let element"> {{element.pick}} </td>
    </ng-container>

    <ng-container matColumnDef="avg-coins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg. Coins </th>
      <td align="center" mat-cell *matCellDef="let element">  {{element.avgCoins}}</td>
    </ng-container>

    <ng-container matColumnDef="e-m-h">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E / M / H (%)</th>
      <td align="center" mat-cell *matCellDef="let element">{{element.emh}}</td>
    </ng-container>

    <ng-container matColumnDef="won">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Won </th>
      <td align="center" mat-cell *matCellDef="let element">{{element.won}}</td>
    </ng-container>

    <ng-container matColumnDef="lost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lost </th>
      <td align="center" mat-cell *matCellDef="let element">{{element.lost}}</td>
    </ng-container>

    <ng-container matColumnDef="net">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Net </th>
      <td align="center" mat-cell *matCellDef="let element">{{element.net}}</td>
    </ng-container>

    <ng-container matColumnDef="bonus-fasak">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bonus - Fasak</th>
      <td align="center" mat-cell *matCellDef="let element">{{element.bonus_fasak}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
