
<mat-vertical-stepper [linear]="isLinear" [selectedIndex]=1 #stepper *ngIf="loggedIn">
  
  
  <mat-step [completed]=true>
    <ng-template matStepLabel><b>Welcome {{user.firstName}} {{user.lastName}}! </b></ng-template>
    Your Google Authentication is successful.
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  
  <mat-step [stepControl]="refFormGroup">
    <form [formGroup]="refFormGroup" (ngSubmit)="checkRefCode()">
      <ng-template matStepLabel>Enter Your Referral Code</ng-template>
      <mat-form-field>
        <input id="refCode" matInput placeholder="Referral Code" formControlName="refCode" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="submit">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dpFormGroup" *ngIf="validRef">
      <form [formGroup]="dpFormGroup" (ngSubmit)="onRegister()">
        <ng-template matStepLabel>Enter Your Display Name</ng-template>
        <mat-form-field>
          <input id="displayName" matInput placeholder="A Funky Name Please" formControlName="displayName" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="submit">Submit</button>
        </div>
      </form>
  </mat-step>
  <!--<mat-step>-->
    <!--<ng-template matStepLabel>Done</ng-template>-->
    <!--Registration complete !-->
    <!--<div>-->
      <!--<button mat-button matStepperPrevious>Back</button>-->
      <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
    <!--</div>-->
  <!--</mat-step>-->
</mat-vertical-stepper>



<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onRegister(r)" #r="ngForm">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="refcode">Enter Your Referral Code to Register</label>
            <input type="text" id="refCode" class="form-control" name="refCode" ngModel required>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-xs-12">
            &nbsp;<button class="btn btn-primary" type="submit" [disabled]="!r.valid">Register</button>&nbsp;
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

-->