.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
        color: blue;
    }

    50% {
        opacity: 0.5;
        color: red;
    }

    100% {
        opacity: 0;
        color: yellow;
    }
}